.container {
    display: flex;
    max-width: 500px;
    margin: 0 auto;
    padding: 2.5rem 1rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    img {
        width: 20rem;
    }

    h1 {
        font-size: 3rem;
        margin-top: 4rem;
    }
}

.buttons {
    width: 100%;
    justify-content: center;
    display: flex;
    a {
        font-size: 1.6rem;
        margin-top: 4rem;
        text-decoration: none;
        padding: 2rem;
        background: #D75198;
        color: #ffffff;
        border-radius: .4rem;

        transition: filter .2s;

        &:hover {
            filter: brightness(.9);
        }

        & + a {
            margin-left: 1rem;
        }
    }
}